/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.box{
		background-color: black;
		color: white;
	}
	.sm,.md,.lg,.xl,.xxl{display:none;}
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.box{

		background-color: blue;
		color: yellow;
	}
	.sm,.md,.lg,.xl,.xxl{display:none;}
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	.box{
		background-color: green;
		color: red;
	}
	.sm,.md,.lg,.xl,.xxl{display:none;}
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.box{
		background-color: yellow;
		color: blue;
	}
	.sm,.md,.lg,.xl,.xxl{display:none;}
 }

/*Extra Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
	.box{
		background-color: pink;
		color: black;
	}
	.sm,.md,.lg,.xl,.xxl{display:none;}
 }

/*Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) { 
	.box{
		color: green;
	}
	.sm,.md,.lg,.xl,.xxl{display:none;}

	
 }